<% @one_to_ten = (1..10).to_a.map %>
<% @one_to_thirty = (1..30).to_a.map %>
<%= form_with(model: @kitten, local: true) do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :age %>
    <%= f.select :age, options_for_select(@one_to_thirty,
   params[:age])%>
  </p>

  <p>
    <%= f.label :cuteness %>: 
    <%= f.select :cuteness, options_for_select(@one_to_ten, params[:cuteness]) %>
  </p>

  <p>
    <%= f.label :softness %>: 
    <%= f.select :softness, options_for_select(@one_to_ten, params[:softness]) %>
  </p>

  <p><%= f.submit "Create your kitten!" %></p>
<% end %>
